<p-table #dt scrollHeight="flex" dataKey="id"
  currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
  styleClass="p-datatable-sm padrao-table" sortField="campoInteiro" [sortOrder]="1" [loading]="loading"
  [value]="data" [columns]="selectedColumns" [rows]="data.length || 20" [totalRecords]="total" [paginator]="false"
  [scrollable]="true" [showCurrentPageReport]="false" [resizableColumns]="true" columnResizeMode="fit"
  [tableStyle]="{ 'table-layout': 'fixed' }" selectionMode="single">

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h3 class="m-0">{{ titulo }}</h3>
      <div class="flex gap-2">
        <p-button label="Novo" icon="pi pi-plus" (click)="padraoDialog.show(true)"></p-button>
        <p-button icon="pi pi-refresh" severity="secondary" pTooltip="Atualizar" tooltipPosition="bottom"
          [outlined]="true" (click)="onRefresh()"></p-button>
        <table-selected-columns [columns]="cols" [(selectedColumns)]="selectedColumns"></table-selected-columns>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn
        [pSortableColumn]="col.sortable ? (col.sortField || col.field) : null">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.sortField || col.field"></p-sortIcon>
        <p-columnFilter *ngIf="col.filter" [type]="col.filter" [field]="col.field" display="menu"
          [matchMode]="col.filter === 'text' ? 'contains' : undefined" />
      </th>
      <th class="e-table-column-action" style="width: 80px">Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-padrao let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ padrao[col.field] }}
      </td>
      <td class="e-table-column-action">
        <feature-actions
          (onEdit)="padraoDialog.selected = padrao; padraoDialog.show(false)"
          (onDelete)="padraoDialog.selected = padrao; onDelete()">
        </feature-actions>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="selectedColumns.length + 1">Nenhum registro encontrado.</td>
    </tr>
  </ng-template>

</p-table>

<padrao-dialog (onSaving)="onSave($event)"></padrao-dialog>

<p-confirmDialog />
