$colorBlue: #4285f4;
$colorCyan: #0dcaf0;
$colorTeal: #20c997;
$colorGreen: #198754;
$colorYellow: #ffc107;
$colorOrange: #fd7e14;
$colorRed: #dc3545;
$colorPink: #d63384;
$colorPurple: #6f42c1;
$colorIndigo: #6610f2;

$borderRadius: 7px;
$headerHeight: 50px;
$contextHeight: 40px;